<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Prueba</title>
</head>
<body>
    <div class="hero">

    <nav>
        <img src="/images/logo-mercado-liebre.svg" alt="">

        <div class="contenedor-input">
            <input type="text" placeholder="Buscar productos, marcas y más" class="input-search">
            <i class="fas fa-search"></i>
        </div>

        <div class="compra-cuotas">
        <i class="fas fa-hand-holding-usd"></i><p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>


        <ul>
            <li><a href="#"></a>Todos los productos</li>
            <li><a href="#"></a>Ofertas</li>
            <li><a href="#"></a>Tiendas Oficiales</li>
            <li><a href="#"></a>Vender</li>
            <li><a href="#"></a>Ayuda</li>
        </ul>

        <div class="asd">
            <p>Creá tu cuenta</p><i class="fas fa-id-card"></i>
            <p>Ingresá</p><i class="fas fa-sign-in-alt"></i>
            <p>Mis compras</p><i class="fas fa-shopping-basket"></i>
        </div>

        
    </nav>
    <div class="imagen-debajo-nav">
        <img src="/images/img-home-banner.jpg" alt="">
    </div>

    



</div> <!-- TERMINA HERO-->

<div class="basado-ultima-visita">
    <h2>Basado en tu ultima visita</h2>


<div class="productos">
    <div class="producto">
        <img src="/images/img-cafetera-moulinex.jpg" alt=""><i class="fas fa-truck"></i>
        <div class="info">
            <p>8.500</p><span>50 % off</span>
        </div>
        
    </div>
    
    
    <div class="producto">
        <img src="/images/img-macbook-pro-2019.jpg" alt=""><i class="fas fa-truck"></i>
        <div class="info">
            <p>92.000</p><span>0 % off</span>
        </div>
        
    </div>
    
    <div class="producto">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt=""><i class="fas fa-truck"></i>
        <div class="info">
            <p>90.000</p><span>10 % off</span>
        </div>
        
    </div>

    <div class="producto">
        <img src="/images/img-tv-samsung-smart.jpg" alt=""><i class="fas fa-truck"></i>
        <div class="info">
            <p>142.000</p><span>10 % off</span>
        </div>
        
    </div>


    <!--SEGUNDA TANDA DE PRODUCTOS-->

    
    <div class="producto segundo">
        <img src="/images/mochila-de-camping-impala-new-80-lts.jpg" alt=""><i class="fas fa-truck"></i>
        <div class="info">
            <p>6.500</p><span>15 % off</span>
        </div>
        
    </div>


    <div class="producto segundo">
        <img src="/images/ps5.jpg" alt=""><i class="fas fa-truck"></i>
        <div class="info">
            <p>345.000</p><span>30 % off</span>
        </div>
        
    </div>


    <div class="producto segundo">
        <img src="/images/Taylor.jpg" alt=""><i class="fas fa-truck"></i>
        <div class="info">
            <p>432.000</p><span>15 % off</span>
        </div>
        
    </div>


    <div class="producto segundo">
        <img src="/images/parlante.jpg" alt=""><i class="fas fa-truck"></i>
        <div class="info">
            <p>18.000</p><span>10 % off</span>
        </div>
        
    </div>


</div>

</div>


<footer>
    <div class="contenedor-footer">

        <div class="columna">
            <i class="fas fa-id-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="columna">
            <i class="fas fa-gift"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="columna">
            <i class="fas fa-user-shield"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>


        

    </div>

    <div class="copyright">
        <p>Copyright 1999-2022 MercadoLiebre S.R.L</p>
    </div>
</footer>


</body>
</html>